<div class="container min-vh-100">
  <div class="sidebar">
    <div class="logo">
      <ul class="menu">
        <li>
          <a href="/admin">
            <i class="fas fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/user">
            <i class="fas fa-user"></i>
            <span>customers</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/product">
            <i class="fa-solid fa-cart-shopping"></i>
            <span>Product</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/categoryview">
            <i class="fa-regular fa-note-sticky"></i>
            <span>category</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-bell"></i>
            <span>Notification</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/order">
            <i class="fa-regular fa-note-sticky"></i>
            <span>order</span>
          </a>
        </li>

        <li class="logout">
          <a routerLink="/login">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- main content -->
  <div class="main-content">
    <header>
      <p class="">
        <label for="">
          <span class="fas fa-bars" style="font-size: 25px"> </span> </label
        >Dashboard
      </p>

      <div class="search--wrapper">
        <span class="fas fa-search"></span>
        <input type="search" placeholder="search here" />
      </div>

      <div class="user--wrapper">
        <img
          src="https://th.bing.com/th/id/OIP.6HqwoVsrZWYgIOYU9-Be8QHaHa?rs=1&pid=ImgDetMain"
          alt="profile image"
        />
        <div>
          <h4>Anand</h4>
          <small>Admin</small>
        </div>
      </div>
    </header>
  </div>

  <!-- <main>
    <div class="cards">
      <div class="card-single">
        <div>
          <h1>35</h1>
          <span>Customers</span>
        </div>
        <div>
          <i class="fa-solid fa-user"></i>
        </div>
      </div>

      <div class="cards">
        <div class="card-single">
          <div>
            <h1>25</h1>
            <span>orders</span>
          </div>
          <div>
            <i class="fa-solid fa-square-poll-vertical"></i>
          </div>
        </div>

        <div class="cards">
          <div class="card-single">
            <div>
              <h1>25</h1>
              <span>Notification</span>
            </div>
            <div>
              <i class="fa-solid fa-bell"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main> -->
</div>
