<div class="card">
  <form
    class="form-horizontal mt-5 mx-4 w-75"
    #FormSubmit="ngForm"
    (ngSubmit)="onSubmit(FormSubmit.value)"
  >
    <div class="header">
      <p class="fs-4">ADD USER DETAILS</p>
    </div>

    <div class="form-group">
      <label class="control-label" for="name"> NAME:</label>
      <div class="">
        <input
          id="name"
          name="name"
          class="form-control input-md"
          required
          type="text"
          [(ngModel)]="name"
          minlength="3"
          #modelname="ngModel"
          [ngClass]="modelname.touched && modelname.invalid ? 'is-invalid' : ''"
        />
        <div
          *ngIf="modelname.invalid && modelname.dirty"
          class="invalid-feedback"
        >
          please enter atleast 3 characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="username"> USERNAME:</label>
      <div class="">
        <input
          type="email"
          class="form-control"
          id="username"
          name="username"
          [(ngModel)]="username"
          minlength="3"
          #modelemail="ngModel"
          [ngClass]="
            modelemail.touched && modelemail.invalid ? 'is-invalid' : ''
          "
        />
        <div
          *ngIf="modelemail.invalid && modelemail.dirty"
          class="invalid-feedback"
        >
          please enter a valid user email
        </div>
      </div>
    </div>

    <p class="mt-3 mb-2">ADDRESS DETAILS</p>

    <div class="form-group">
      <label class="control-label" for="address">STREET:</label>
      <div class="">
        <input
          id="Text"
          name="street"
          class="form-control input-md"
          required=""
          type="text"
          [(ngModel)]="street"
          minlength="3"
          #modelstreet="ngModel"
          [ngClass]="
            modelstreet.touched && modelstreet.invalid ? 'is-invalid' : ''
          "
        />
        <div
          *ngIf="modelstreet.invalid && modelstreet.dirty"
          class="invalid-feedback"
        >
          please enter atleast 3 characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="address">CITY:</label>
      <div class="">
        <input
          id="Text"
          name="city"
          class="form-control input-md"
          required=""
          type="text"
          [(ngModel)]="city"
          minlength="3"
          #modelcity="ngModel"
          [ngClass]="modelcity.touched && modelcity.invalid ? 'is-invalid' : ''"
        />
        <div
          *ngIf="modelcity.invalid && modelcity.dirty"
          class="invalid-feedback"
        >
          please enter atleast 3 characters
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="address">STATE:</label>
      <div class="">
        <input
          id="Text"
          name="state"
          class="form-control input-md"
          required=""
          type="text"
          [(ngModel)]="state"
          minlength="3"
          #modelstate="ngModel"
          [ngClass]="
            modelstate.touched && modelstate.invalid ? 'is-invalid' : ''
          "
        />
        <div
          *ngIf="modelstate.invalid && modelstate.dirty"
          class="invalid-feedback"
        >
          please enter atleast 3 characters
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="address">ZIPCODE</label>
      <div class="">
        <input
          id="Text"
          name="zipcode"
          class="form-control input-md"
          required=""
          type="text"
          [(ngModel)]="Zipcode"
        />
      </div>

      <div class="form-group">
        <div class="button">
          <a routerLink="/user/profile"> <button>Back</button></a>
          <button type="submit">save</button>
        </div>
      </div>
    </div>
  </form>
</div>
