<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>description</th>
          <th>category</th>
          <th>price</th>
          <th>image</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody *ngFor="let product of productDetails">
        <tr>
          <td>{{ product.id }}</td>
          <td>{{ product.title }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.categoryId }}</td>
          <td>{{ product.price }}</td>
          <td>
            <img
              src="{{
                'http://localhost:8080/api/downloadFile/' +
                  product.id
              }}"
              alt=""
              style="height: 100px; width: 150px"
            />
          </td>
          <td>
            <button (click)="onEdit(product.id!)" class="btn w-50">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
          </td>
          <td>
            <button (click)="onDelete(product.id!)" class="btn w-50">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<a routerLink="/admin"> <button type="submit">Back</button></a>
<a routerLink="/admin/addproduct">
  <button type="submit">Add new Product</button></a
>
