<div class="contaciner mt-5">
  <div class="row">
    <h4 class="col-8" style="color: rgb(14, 14, 141)">PRODUCTS DETAILS</h4>
    <div class="col-4" style="float: left">
      <a routerLink="/admin/addproduct">
        <button type="submit" class="w-25">+Add</button></a
      >
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>description</th>
          <th>category</th>
          <th>price</th>
          <th>image</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody
        *ngFor="
          let product of productDetails.slice(
            (currentPage - 1) * itemsPerPage,
            currentPage * itemsPerPage
          )
        "
      >
        <tr>
          <td>{{ product.id }}</td>
          <td>{{ product.title }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.category.title }}</td>
          <td>₹{{ product.price }}</td>
          <td>
            <img
              src="{{ 'http://localhost:8080/api/downloadFile/' + product.id }}"
              alt=""
              style="height: 100px; width: 150px"
            />
          </td>
          <td>
            <button (click)="onEdit(product.id!)" class="btn w-50">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>

            <button (click)="onDelete(product.id!)" class="btn w-50">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination for Customer Bookings -->
    <ul
      class="pagination justify-content-center mt-3 custom-pagination"
      *ngIf="productDetails.length > 0"
    >
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="currentPage = currentPage - 1"
          >Previous</a
        >
      </li>
      <li
        class="page-item text-danger"
        *ngFor="let page of getPageNumbers()"
        [class.active]="currentPage === page"
      >
        <a class="page-link" (click)="currentPage = page">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === getLastPage()">
        <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
      </li>
    </ul>
  </div>
</div>
