img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.card {
  margin-left: 300px;
  width: 400px;
  margin-top: 50px;
}
h4{
    color:  palevioletred;
    font-weight: 2px;
}
.profile{
    margin-left: 6px;
}