img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.card {
  margin-left: 300px;
  width: 400px;
  margin-top: 90px;
}
h4 {
  color: black;
  font-weight: 2px;
}
.profile {
  margin-left: 6px;
}
a {
  text-decoration: none;
  color: black;
}
.card1 {
  margin-left: 5px;
  width: 350px;
  padding: 2px;
  background-color: rgb(245, 242, 244);
}
.card1 div {
  margin-left: 10px;
  margin-top: 10px;
}
.btn {
  color: white;
  margin-bottom: 10px;
  width: 300px;
  background-color: black;
}
