<!-- <div class="page-content page-container mt-5"  >
  <div class="padding" *ngFor="let u of userprofile.addressList">
    <div class="row container d-flex justify-content-center" >
      <div class="col-xl-6 col-md-12">
        <div class="card user-card-full" >
          <div class="row m-l-0 m-r-0" >
            <div class="col-sm-4 bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <div class="m-b-25">
                  <img
                    src="https://img.icons8.com/bubbles/100/000000/user.png"
                    class="img-radius"
                    alt="User-Profile-Image"
                  />
                </div>
                <h6 class="f-w-600">{{userprofile.username}}</h6>
                <p>user</p>
                <i
                  class="mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"
                ></i>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="card-block">
                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Email</p>
                    <h6 class="text-muted f-w-400">name</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Phone</p>
                    <h6 class="text-muted f-w-400">98979989898</h6>
                  </div>
                </div>

                <div class="col-sm-6">
                  <p class="m-b-10 f-w-600">Address</p>
                  <h6 class="text-muted f-w-400"></h6>
                  <h6 class="text-muted f-w-400"></h6>
                  <h6 class="text-muted f-w-400"></h6>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  -->

<div class="container mt-5">
  <div class="card">
    <div class="row profile mt-4 ">
      <div class="col-12">
        <img
          src="https://th.bing.com/th/id/OIP.6HqwoVsrZWYgIOYU9-Be8QHaHa?rs=1&pid=ImgDetMain"
          alt="profile picture"
        />
        <p class="text-info">Hello,{{ user.username }}</p>
      </div>
      <div *ngFor="let userProfile of userprofile">
        <h4>USER DETAILS</h4>
        <p>username: {{ userProfile.username }}</p>
        <p>Name: {{ userProfile.name }}</p>
        <p>PhoneNumber:+91 7234556723</p>
        <hr>
        <h4 class="mt-3">USER ADDRESS </h4>
        <div *ngFor="let address of userProfile.addressList">
          <p>Street: {{ address.street }}</p>
          <p>City: {{ address.city }}</p>
          <p>Zipcode: {{ address.zipcode }}</p>
        </div>
        <hr />
        <button class="mb-4 mt-3">Update your Profile</button>
      </div>
    </div>
  </div>
</div>
