<div class="container mt-1">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Category ID</th>
          <th>Category_Name</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody *ngFor="let category of categories">
        <tr>
          <td>{{ category.id }}</td>
          <td>{{ category.title }}</td>
          <td>
            <button type="submit" (click)="onEdit(category.id!)" class="btn w-50">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            </td>
            <td>
            <button type="submit" (click)="onDelete(category.id)" class="btn w-50">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<a routerLink="/admin"> <button>Back</button></a>
<a routerLink="/admin/category"> <button>Add category</button></a>
