<div class="container mt-1">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Category ID</th>
          <th>Category_Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let category of categories">
        <tr>
          <td>{{ category.id }}</td>
          <td>{{ category.title }}</td>
          <td>
            <button type="submit" (click)="onEdit(category.id!)">
              Edit
            </button>
            <button type="submit" (click)="onDelete(category.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<a routerLink="/admin"> <button>Back</button></a>
<a routerLink="/admin/category"> <button>Add category</button></a>
