<form
  class="form-horizontal"
  #productForm="ngForm"
  (ngSubmit)="addProduct(productForm)"
>
  <div class="left-side">
    <p style="color: black; font-size: 20px">ADD PRODUCTS</p>

    <div class="form-group">
      <input type="hidden" name="id" [(ngModel)]="id">
      <label class="control-label" for="product_name"> NAME</label>
      <div class="">
        <input
          id="product_name"
          name="title"
          class="form-control input-md"
          required
          type="text"
          [(ngModel)]="productName"
          ngModel
          minlength="3"
          #modelProduct="ngModel"
          [ngClass]="
            modelProduct.touched && modelProduct.invalid ? 'is-invalid' : ''
          "
        />
        <div
          *ngIf="modelProduct.invalid && modelProduct.dirty"
          class="invalid-feedback"
        >
          please enter atleast 3 characters
        </div>
      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="control-label" for="product_description">
        DESCRIPTION</label
      >
      <div class="">
        <textarea
          class="form-control"
          id="product_description"
          name="description"
          [(ngModel)]="description"
          ngModel
        ></textarea>
      </div>
    </div>
    <!-- Select Basic -->
    <div class="form-group">
      <label class="control-label" for="product_category"
        >PRODUCT CATEGORY</label
      >
      <select
        class="form-control"
        id="category-select"
        [(ngModel)]="selectedCategoryId"
        name="category"
        required
        (change)="onCategoryChange()"
      >
        <option value="" disabled selected>Select a category</option>
        <option *ngFor="let category of category" [value]="category.id">
          {{ category.title }}
        </option>
      </select>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="control-label" for="price">PRICE</label>
      <div class="">
        <input
          id="Text"
          name="price"
          class="form-control input-md"
          required=""
          type="number"
          [(ngModel)]="price"
          minlength="2"
          #modelPrice="ngModel"
          [ngClass]="
            modelPrice.touched && modelPrice.invalid ? 'is-invalid' : ''
          "
        />
        <div
          *ngIf="modelPrice.invalid && modelPrice.dirty"
          class="invalid-feedback"
        >
          please enter a correct price
        </div>
      </div>
    </div>

    <div class="form-group row btn">
      <div class="button">
        <button type="submit ">Add product</button>
      </div>
    </div>
  </div>

  <!-- Image-->
  <div class="right-side">
    <div class="image-dummy">
      <i class="fas fa-cloud-upload-alt" style="height: 60px">
        <input
          type="file"
          name="file"
          id="file"
          [(ngModel)]="file"
          (change)="onFileChange($event)"
        />
      </i>
    </div>
  </div>
</form>
