<!-- Footer -->
<footer class="text-center text-lg-start text-muted mt-5">
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>

    <div>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>

  <section>
    <div class="container text-md-start ms-4">
      <div class="row mt-3">
        <div class="col-md-4 col-lg-4 col-xl-4 mb-4">
          <h6 class="text-danger fw-bold mb-4">Get in touch</h6>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot"></i>&nbsp;
            <p>Mission Street 35, Pondicherry, Puducherry 605001, India</p>
          </div>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2">
          <h6 class="fw-bold text-danger">Top categories</h6>
          <p>
            <a href="#!" class="text-reset">Home Decor</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Paintings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Kitchen & Dining</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Gifts</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="fw-bold text-danger">About Store</h6>
          <p>
            <a href="#!" class="text-reset">About Us</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Careers</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Bulk Order</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Reviews</a>
          </p>
        </div>
        <!-- Grid column -->

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="fw-bold text-danger">Help & Policies</h6>
          <p>
            <a href="#!" class="text-reset">Contact Us</a>
          </p>
          <p>
            <a href="#!" class="text-reset">FAQ's</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Privacy Policy</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Payment Security</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Return Policy</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Request Return / Exchange</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Shipping Policy</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Terms & Conditions</a>
          </p>
        </div>

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-danger fw-bold">Contact</h6>
          <p><i class="fas fa-home text-secondary"></i>
            Puducherry,India</p>
          <p><i class="fas fa-envelope text-secondary"></i>&nbsp;artsandhandicraft@gmail.com</p>
          
          <p><i class="fas fa-phone me-3 text-secondary"></i> +91 9965839231</p>
          <p><i class="fas fa-print me-3 text-secondary"></i> +91 8124213379</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025)">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="artsandhandcraft">artsandhandcraft</a>
  </div>
</footer>


