<form
  class="form-horizontal min-vh-100"
  #categoryForm="ngForm"
  (ngSubmit)="addCategory(categoryForm.value)"
>
  <div class="form-group">
    <p>ADD CATEGORY</p>

    <div class="form-group">
      <label class="control-label"> CATEGORY NAME</label>

      <input
        id="category_name"
        name="category_name"
        class="form-control input-md"
        required
        type="text"
        ngModel
      />
    </div>
    <a routerLink="/admin/categoryview"> <button>Back</button></a>
    <button type="submit">Add Category</button>
  </div>
</form>
