<form
  class="form-horizontal min-vh-100"
  #categoryForm="ngForm"
  (ngSubmit)="addCategory(categoryForm)"
>
  <div class="form-group">
    <p>ADD CATEGORY</p>

    <div class="form-group">
      <label class="control-label"> CATEGORY NAME</label>

      <input
        id="category_name"
        name="category_name"
        class="form-control input-md"
        required
        ngModel
        type="text"
        [(ngModel)]="category_name"
        minlength="3"
        #modelCategory="ngModel"
        [ngClass]="
          modelCategory.touched && modelCategory.invalid ? 'is-invalid' : ''
        "
      />
      <div
        *ngIf="modelCategory.invalid && modelCategory.dirty"
        class="invalid-feedback"
      >
        please enter atleast 3 characters
      </div>
    </div>
    <button type="submit">Add Category</button>
  </div>
</form>
