<div *ngIf="!isLoggedIn">
  <router-outlet></router-outlet>
</div>

<div *ngIf="isLoggedIn" class="container-fluid vh-100 d-flex flex-column">
  <div class="row">
    <header class="navbar sticky-top p-2 shadow">
      <img
        src="https://th.bing.com/th/id/OIP.NOK3LIzZ8IB6FxlQEd4xgQAAAA?pid=ImgDet&w=201&h=201&c=7&dpr=1.3"
        alt="logo"
        style="width: 5vw; height: 25px"
      />

      <div class="link">
        <a class="navbar-brand" routerLink="/">Home</a>
        <a class="navbar-brand" routerLink="/">About us</a>
        <a class="navbar-brand" routerLink="/">contact</a>
      </div>
      <div class="d-flex">
        <div class="icon-item">
          <a routerLink="/user/profile">
            <i class="fas fa-user"></i>
          </a>
        </div>

        <div class="icon-item">
          <a routerLink="/">
            <i
              class="fas fa-cart-plus"
              data-bs-toggle="modal"
              data-bs-target="#cartModal"
            ></i>
            <div style="font-size: 10px" class="badge bg-danger">0</div></a
          >
        </div>

        <div class="icon-item">
          <a routerLink="/order">
            <i class="fas fa-file-alt"></i>
          </a>
        </div>

        <div class="icon-item" (click)="logout()" role="button">
          <i class="fas fa-sign-out-alt"></i>
        </div>
      </div>
    </header>
  </div>

<div *ngIf="isAdmin" class="row flex-grow-1">
    <div class="sidebar border border-right col-2 p-0">
      <div class="bg-body-tertiary h-100" tabindex="-1">
        <div class="d-flex flex-column p-0 pt-3 overflow-y-auto">
          <ul class="nav flex-column">
            <li class="nav-item d-flex align-items-center px-4 sideBarItem">
              <i class="fa-solid fa-house"></i>
              <a class="nav-link d-flex align-items-center"> Dashboard </a>
            </li>
            <li class="nav-item d-flex align-items-center px-4 sideBarActive">
              <i class="fa-solid fa-book"></i>
              <a class="nav-link d-flex align-items-center">Products </a>
            </li>
            <li class="nav-item d-flex align-items-center px-4 sideBarItem">
              <i class="fa-solid fa-user"></i>
              <a class="nav-link d-flex align-items-center">Users</a>
            </li>
            <li class="nav-item d-flex align-items-center px-4 sideBarItem">
              <i class="fa-solid fa-clock-rotate-left"></i>
              <a class="nav-link d-flex align-items-center">Orders </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <main class="col-10 px-4">
      <router-outlet></router-outlet>
    </main>
  </div> 
  <div *ngIf="!isAdmin">
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="loaderService.isLoading | async" class="loader">
  <ng-lottie [options]="options"></ng-lottie>
</div>
