<div *ngIf="!isLoggedIn">
  <router-outlet></router-outlet>
</div>

<div
  *ngIf="isLoggedIn && !isAdmin"
  class="container-fluid vh-100 d-flex flex-column"
>
  <div class="row">
    <header class="navbar sticky-top p-2 shadow">
      <img
        src="https://i.pinimg.com/originals/a8/3e/2e/a83e2e96b32358c08fb7f4ededb4b6f7.png"
        alt=""
        style="width: 70px; height: 40px"
      />

      <div class="link">
        <a class="navbar-brand" routerLink="/">Home</a>
        <a class="navbar-brand" routerLink="/">About us</a>
        <a class="navbar-brand" routerLink="/contactPage">Contact</a>
      </div>
      <div class="d-flex">
        <div class="icon-item">
          <a routerLink="/user/profile">
            <i class="fas fa-user"></i>
          </a>
        </div>

        <div class="icon-item">
          <a routerLink="/cart">
            <i class="fas fa-cart-plus"></i>
            <div style="font-size: 10px" class="badge bg-danger">
              {{ getCartCount() > 0 ? getCartCount() : 0 }}
            </div></a
          >
        </div>

        <div class="icon-item">
          <a routerLink="/order">
            <i class="fas fa-file-alt"></i>
          </a>
        </div>

        <div class="icon-item" (click)="logout()" role="button">
          <i class="fas fa-sign-out-alt"></i>
        </div>
      </div>
    </header>
  </div>
</div>

<div *ngIf="isLoggedIn && isAdmin">
  <div class="min-vh-100 d-flex" tabindex="-1">
    <div class="sidebar">
      <div class="logo">
        <ul class="menu">
          <li>
            <a>
              <i class="fas fa-tachometer-alt"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a routerLink="/admin/user">
              <i class="fas fa-user"></i>
              <span>customers</span>
            </a>
          </li>
          <li>
            <a routerLink="/admin/product">
              <i class="fa-solid fa-cart-shopping"></i>
              <span>Product</span>
            </a>
          </li>
          <li>
            <a routerLink="/admin/categoryview">
              <i class="fa-regular fa-note-sticky"></i>
              <span>category</span>
            </a>
          </li>

          <li>
            <a routerLink="/admin/order">
              <i class="fa-solid fa-clock-rotate-left"></i>
              <span>order</span>
            </a>
          </li>

          <li class="logout">
            <a (click)="logout()" role="button">
              <i class="fas fa-sign-out-alt"></i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <main class="col-10 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<div *ngIf="!isAdmin">
  <router-outlet></router-outlet>
</div>

<div *ngIf="loaderService.isLoading | async" class="loader">
  <ng-lottie [options]="options"></ng-lottie>
</div>
