<div class="contaciner mt-5">
  <div class="row">
    <h4 class="col-8" style="color: rgb(14, 14, 141)">ORDER DETAILS</h4>
  </div>
</div>

<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">userId</th>
      <th scope="col">username</th>
      <th scope="col">Art</th>
      <th>Order Status</th>
      <!-- <th>Action</th>  -->
    </tr>
  </thead>

  <tbody *ngFor="let order of orderDetails">
    <tr *ngFor="let item of order.orderedArtWorkList">
      <td>{{ order.id }}</td>
      <td>{{ order.username }}</td>

      <td>{{ item.title }}- Rs{{ item.price }}</td>
      <td>
        <select name="status"  [(ngModel)]="order.orderStatus" (change)="onStatusChange(order)" >
         
          <option value="1">pending</option>
          <option value="2">confirmed</option>
          <option value="3">out of delivery</option>
          <option value="4">delivered</option>
        </select>
      </td>
    
    </tr>
  </tbody>
</table>
<a routerLink="/admin"><button>Back</button></a>
