<nav class="navbar navbar-expand-lg mt-1">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://th.bing.com/th/id/OIP.NOK3LIzZ8IB6FxlQEd4xgQAAAA?pid=ImgDet&w=201&h=201&c=7&dpr=1.3"
        alt="logo"
        style="width: 5vw; height: 25px"
      />
      <strong class="mx-2 fst-italic">Handicraft</strong>
    </a>
    <div class="search-container">
      <form>
        <input
          type="text"
          placeholder="Search.."
          name="search"
          style="
            padding: 4px;
            border: none;
            border-radius: 7px;
            margin-left: 20px;
            width: 450px;
          "
        />
      </form>
    </div>

    <div>
      <a routerLink="/">
        <i class="fa-solid fa-house"></i>
      </a>
    </div>

    <div>
      <a routerLink="/user/profile">
        <i class="fas fa-user"></i>
      </a>
    </div>

    <div>
      <a routerLink="/cart">
        <i class="fas fa-cart-plus"></i>
        <div style="font-size: 10px" class="badge bg-danger">0</div></a
      >
    </div>

    <div>
      <a routerLink="/order">
        <i class="fas fa-file-alt"></i>
      </a>
    </div>

    <div>
      <a routerLink="/login">
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </div>
  </div>
</nav>
