<!-- <section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="row" *ngFor="let order of orderDetails">
        <div
          class="col-md-8 col-lg-9"
          *ngFor="let artwork of order.orderedArtWorkList"
        >
          <div
            class="card border-top border-bottom border-3"
            style="border-color: #dfbfa9 !important"
          >
            <div class="card-body p-5" *ngIf="selectedItem">
              <p class="lead fw-bold mb-5" style="color: red">
                Purchase Reciept
              </p>

              <div class="row">
                <div class="col mb-3">
                  <p class="small text-muted mb-1">Date</p>
                  <p>{{ order.createdAt }}</p>
                </div>
                <div class="col mb-3">
                  <p class="small text-muted mb-1">Order No.</p>
                  <p>{{ order.id }}</p>
                </div>
              </div>

              <div class="mx-n5 " style="background-color: #f2f2f2">
                <div class="row">
                  <div class="col-md-8 col-lg-9">
                    <p>{{ artwork.title }}</p>
                  </div>
                  <div class="col-md-4 col-lg-3">
                    <p>{{ artwork.price }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 col-lg-9">
                    <p class="mb-0">Shipping</p>
                  </div>
                  <div class="col-md-4 col-lg-3">
                    <p class="mb-0">100</p>
                  </div>
                </div>
              </div>

              <div class="row my-4">
                <div class="col-md-6">
                  <p class="lead fw-bold mb-0" style="color: red">Total-1099</p>
                </div>
              </div>

              <p class="lead fw-bold mb-4 pb-2" style="color: red">
                Tracking Order
              </p>

              <div class="row">
                <div class="col-lg-12">
                  <div class="horizontal-timeline">
                    <ul
                      class="list-inline items d-flex justify-content-between"
                    >
                      <li class="list-inline-item items-list">
                        <p
                          class="py-1 px-2 rounded text-white"
                          style="background-color: red"
                        >
                          Ordered
                        </p>
                        <p
                          class="py-1 px-2 rounded text-white"
                          style="background-color: red"
                        ></p>
                      </li>

                      <li class="list-inline-item items-list">
                        <p
                          class="py-1 px-2 rounded text-white"
                          style="background-color: red"
                        >
                          Shipped
                        </p>
                        <p
                          class="py-1 px-2 rounded text-white"
                          style="background-color: red"
                        ></p>
                      </li>

                      <li class="list-inline-item items-list">
                        <p
                          class="py-1 px-2 rounded text-white"
                          style="background-color: #f37a27"
                        >
                          On the way
                        </p>
                      </li>
                      <li
                        class="list-inline-item items-list text-end"
                        style="margin-right: 8px"
                      >
                        <p style="margin-right: -8px">Delivered</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <p class="mt-4 pt-2 mb-0">
                Want any help?
                <a href="#!" style="color: blue">Please contact us</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<div class="container mt-5">
  <p *ngIf="orderDetails.length === 0">
    Oops! There are no orders placed! <br />
    <button class="btn btn-dark mt-2" routerLink="/">Shop Here</button>
  </p>
  <table
    class="table table-hover shadow bg-body-tertiary rounded"
    *ngIf="orderDetails.length !== 0"
  >
    <thead>
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Date</th>
        <th scope="col">Products</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody id="cartitems" *ngFor="let item of orderDetails">
      <tr
        class="shadow bg-body-tertiary rounded"
        *ngFor="let artwrok of item.orderedArtWorkList"
      >
        <td class="col">{{ item.id }}</td>
        <td class="col">{{ item.createdAt }}</td>
        <td class="col">{{ artwrok.title }}</td>
        <td class="col">{{ artwrok.count }}</td>
        <td class="col">₹ {{ artwrok.price * artwrok.count }}</td>
      </tr>
    </tbody>
    <tfoot >
      <tr>
        <td colspan="3"></td>
        <td class="fw-bold">Total:</td>
        <td class="fw-bold">₹ 1800</td>
      </tr>
    </tfoot>
  </table>
</div>
