<div class="container mt-5">
  <p *ngIf="orderDetails.length === 0" class="center-content">
    Oops! There are no orders placed! <br />
    <img
      src="https://static.wixstatic.com/media/7742ef_dfe620d0354b471b8620fcb2c3a46e62~mv2.gif"
    />
    <button class="btn btn-dark mt-2" routerLink="/">Shop Here</button>
</p>

  <table
    class="table table-hover shadow bg-body-tertiary rounded"
    *ngIf="orderDetails.length !== 0"
  >
    <thead>
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Date</th>
        <th scope="col">Products</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody id="cartitems" *ngFor="let item of orderDetails">
      <tr
        class="shadow bg-body-tertiary rounded"
        *ngFor="let artwrok of item.orderedArtWorkList"
      >
        <td class="col">{{ item.id }}</td>
        <td class="col">{{ item.createdAt }}</td>
        <td class="col">{{ artwrok.title }}</td>
        <td class="col">{{ artwrok.count }}</td>
        <!-- <td class="col">₹ {{ artwrok.price * artwrok.count }}</td> -->
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"></td>
        <td class="fw-bold">Total:</td>
        <td class="fw-bold">₹ 1800</td>
      </tr>
    </tfoot>
  </table>
</div>
