<div class="container">
  <div class="row">
    <div class="col-5">user</div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">userId</th>
          <th scope="col">email</th>
          <th scope="col">username</th>
          <th scope="col">address</th>
        </tr>
      </thead>
      <tbody *ngFor="let user of profiles">
        <tr>
          <th>{{ user.id }}</th>
          <td>{{ user.username }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.addressList }}</td>
        </tr>
      </tbody>
    </table>
    <a routerLink="/admin"><button type="submit">Back</button></a>
  </div>
</div>
