:root {
  --primary-50: #f5d4e5;
  --primary-100: #efc8db;
  --primary-300: #ea85b7;
  --primary-500: #dc418f;
  --primary-600: #bb216e;
  --primary-700: #753957;
  --primary-900: #511a35;
  --secondary-100: #dbe6e9;
  --secondary-500: #85cee3;
  --secondary-900: #092128;
  --white-100: #fff;
  --white-300: #e8e2e2;
  --white-500: #fff;
  --white-700: rgb(186, 171, 171);
  --black-300: #181717;
  --black-500: #030101;
  --black-700: #010101;
  --border-radius: 4px;
}

body {
  font-family: "Exo 2", sans-serif;
  background-color: var(--primary-50);
}

.btn {
  border-radius: var(--border-radius);
}
.navbar {
  background-color: var(--primary-300);
  margin-top: 2px;
}
.navbar a {
  font-size: small;
  text-decoration: none;
  color: #030101;
}
.link {
  justify-content: space-between;
}
.icon-item {
  margin-right: 20px;
  color: var(--black-500);
}
