@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");

:root {
  --primary-50: #f8fafc;
  --primary-100: #f1f5f9;
  --primary-300: #cbd5e1;
  --primary-500: #64748b;
  --primary-600: #475569;
  --primary-700: #334155;
  --primary-900: #0f172a;
  --secondary-100: rgb(227, 215, 215);
  --secondary-500: #c2c3c5;
  --secondary-900: #7c7e82;
  --red-100: #fee2e2;
  --red-300: #fca5a5;
  --red-500: #ef4444;
  --red-700: #b91c1c;
  --green-300: #bef264;
  --green-500: #84cc16;
  --green-700: #4d7c0f;
  --border-radius: 4px;
}

body {
  font-family: "Exo 2", sans-serif;
  background-color: var(--primary-50);
  overflow-x: hidden;
}
.carousel {
  margin-top: 62px;
  width: 100%;
  margin-left: 15px;
}

.navbar {
  background-color: var(--primary-100);
  margin-top: 2px;
  position: fixed;
}
.navbar a {
  font-size: small;
  text-decoration: none;
  color: #030101;
}
.link {
  justify-content: space-between;
}
.icon-item {
  margin-right: 20px;
  color: var(--black-500);
}

.text-container {
  color: white;
}
.about {
  color: #060505;
  font-size: 15px;
  font-weight: 20%;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 20px;
  background-color: #eef4f9;
  padding: 2px;
}
.content-about {
  margin-left: 40px;
  margin-top: 20px;
}
.item img {
  margin-top: 5px;
  height: 300px;
  width: 250px;
  opacity: 1;
  position: relative;
  display: block;
}
button {
  align-items: center;
  border-radius: 4px;
  background-color: #030101;
  color: white;
  padding: 8px;
  width: 280px;
}
footer {
  background-color: #ced4da;
}
.btn-1,
.paymentbutton {
  background-color: #b75787;
}
.btn-1:hover {
  background: var(--primary-100);
  font-weight: 900;
  /* letter-spacing: 1px; */

  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
hr {
  margin-bottom: 0;
}
.modal-backdrop.show {
  opacity: 0;
}
.heading {
  color: #3961b0;
}
.loginPage {
  border: #eff2f5; /* Set the border color */
  padding: 15px;
  border-radius: 10px;
  width: 45%; /* Set the border radius if needed */
}
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vh-100 {
  height: 0vh !important;
}
.rounded-images {
  margin-left: 30px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

figcaption {
  margin-left: 50px;
  font-size: small;
}

marquee {
  margin-top: 14px;
  color: rgb(189, 19, 19);
  background-color: var(--primary-100);
  font-weight: 5px;
  width: 100%;
}
.product {
  margin-left: 1px;
  margin-right: 15px;
}

.image-content {
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 15px;
}
.image-content:hover {
  transform: scale(1);
  z-index: 2;
}
/* .image-content img {
  margin-left: 70px;
  margin-right: 50px;
  margin-top: 15px;
} */
/* .image-content img {
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
} */
.signin-content {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 0;
}
.signin-content button {
  width: 170px;
  background-color: #030101;
  color: white;
  top: 0;
}
.btn3 {
  width: 40px;
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--primary-300);
  bottom: 0;
  width: 55px;
  height: 100vh;
  padding: 0;
  overflow: hidden;
  transition: all 0.5s linear;
}
.logo {
  height: 90px;
  /* padding: 20px; */
}
.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}
.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.menu li:hover {
  background-color: #efeaed;
}
.menu a {
  color: rgb(7, 7, 77);
  font-size: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.menu a span {
  overflow: hidden;
  margin-left: 8px;
}

.menu a i {
  font-size: 1.1rem;
}
.sidebar:hover {
  width: 250px;
  transition: 0.5s;
  color: white;
}
